body {
    background-image: url(background.jpg);
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    margin: 0px;
    color: #FFF;

}
#wrapper {
    margin: 0px;
    width: 97%;
    padding: 5px;
}

#wrapper h1 {
    text-align: center;
}

#game-form-step-1 {
    text-align: center;
    margin: 0 auto;
}

#game-form-step-1 h2 {
    margin-bottom: 1px;
}

#game-form-step-1 input {
    height: 50px;
    width: 280px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #000;
    border-radius: 4px;
}

button {
    height: 50px;
    width: 145px;
    color: #FFF;
    background: linear-gradient(#6666FF, #0000CC);
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 12px;
}
#buttons {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
}
#lobby {
    display: none;
    text-align: center;
}
#lobby h2 {
    border-bottom: 1px solid #FFF;
}

#lobby-players {
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

#waitingForOrders {
    display: none;
}

#dragAndDrop {
    display: none;
}

#beforeShowingRole {
    display: none;
}

#ShowingRole {
    display: none;
}

#ready {
    display: none;
}

#waitingForPlayers {
	display: none;
}

#nominationVote{
    text-align: center;
	display: none;
}

#waitingForNominationVotes {
	display: none;
}

#voteResult{
    text-align: center;
    display: none;
}

#whilePlayersOnMission{
	display: none;
}

#startMission{
	display: none;
}

#restartNomination{
    display: none;
}

#votesAndNames{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: auto;
    margin: auto;
    padding: 5px;
    list-style-type: none;
    border-radius: 10px;
}

#missionAgenda{
    display: none;
}
.star {
    position: absolute;
    left: 5px;
    top: 20%;
    height: 20px;
    width: 20px;

}

#displayMissionAgenda{
    display: none;
}

#nextMission{
    display: none;
}

#coreLoop {
    display: none;
    width:100%;
}

#voteTrack {
    width: 25px;
    height: 110px;
    float: left;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 5px;
    font-size: 12px;
}
#vt{
    margin-top: 5px;
    font-weight: bold;
    color: #FFF;
}
.dots {
    clear: both;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 3px auto;
}
#missions {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0px;
    width: 65px;
    height: 280px;
    background-color: rgba(25, 25, 25, 0.9);
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 5px 5px 5px 0px;
    font-size: 12px;
}
.missionSquare {
    clear: both;
    background-color: #444;
    border: 1px solid #FFF;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 15px 5px 15px 5px;
    padding: 3px;

}
#arrowRight {
    position: absolute;
    z-index: 200;
    left: 0px;
    top: 255px;
    width: 20px;
    height: 35px;
}
#arrowLeft {
    display: none;
    position: absolute;
    z-index: 200;
    left: 50px;
    top: 255px;
    width: 20px;
    height: 35px;
}
#players {
    position: absolute;
    color: #FFF;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    width: 60%;
}
#playerList {
    background-color: rgba(255, 255, 255, 0.2);
    height: auto;
    margin: auto;
    padding: 5px;
    list-style-type: none;
    border-radius: 10px;
}
.player {
    position: relative;
    border: 1px solid #333;
    border-radius: 5px;
    width: 92%;
    margin: 5px auto;
    padding: 10px 5px;
    background-color: rgba(230, 230, 230, 0.8);
}
#nominate {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#6666FF, #0000CC);
    border: 1px solid #6666FF;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    color: #FFF;
}
#menu{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 12%;
    max-width: 50px;
    margin: 10px;
}
.empty {
    clear: both;
}
